@model GamesTore.Models.GetGenreDTO

@{
    ViewBag.Title = "Edit";
}
<div class="container">
<h2>Edit Genre</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
   

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
    <br /><br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update Game" class="btn btn-success" />
                <button class="btn btn-info" onclick="location.href='@Url.Action("index", "Genre")';return false;">Back To List</button>
            </div>

            </div>
}
        </div>

@*<div>
    <button class="btn btn-info" onclick="location.href='@Url.Action("Edit", "Genre", new { URL = Model.URL })';return false;">Edit Genre</button>
    <button class="btn btn-info" onclick="location.href='@Url.Action("index", "Genre")';return false;">Back To List</button></div>*@
