@model GamesTore.Models.GetGameDTO

@{
    ViewBag.Title = "GetGames";
}
<div class="container">


    
<h2>Game Info</h2>

<table class=table>
    <tr>
        <th>
            @Html.ActionLink("Name", "GetGames")
        </th>
        <th class="cap-name">
            @Html.ActionLink("Genre", "GetGames")
        </th>
        <th>
            @Html.ActionLink("Date", "GetGames")
        </th>
        <th>
            @Html.ActionLink("Tags", "GetGames")
        </th>
        <th>
            @Html.ActionLink("Quantity", "GetGames")
        </th>
       
        <th>
            @Html.ActionLink("Price", "Index")
        </th>
@if (User.IsInRole("Admin"))
        {
        <th>
            @Html.ActionLink("Actions", "GetGames")
        </th>
}
    </tr>

    <tr>
        <td>
                                  @Html.DisplayFor(model => model.GameName)
                    

                    

        </td>
        <td class="cap-name">


            @foreach (var genre in Model.Genres)
            {
                @Html.DisplayFor(model => genre.Name  )<br/>
            }

        </td>
        <td>
            @Html.DisplayFor(model => model.ReleaseDate)
        </td>
       
        <td>
            @foreach (var tag in Model.Tags)
            {
                @Html.DisplayFor(model => tag.Name)<br />

            }
        </td>
        <td>
            @Html.DisplayFor(model => model.InventoryStock)
        </td>

        <td>
            @Html.DisplayFor(model => model.Price)
        </td>
       @if (User.IsInRole("Admin"))
        {

        <td>
            <button class="btn btn-info" onclick="location.href='@Url.Action("EditGame", "Games", new { URL = Model.URL })';return false;">Edit Game</button>
            <button class="btn btn-danger" onclick="location.href='@Url.Action("DeleteGame", "Games", new { URL = Model.URL })';return false;">Delete Game</button>

            @*@Html.ActionLink("Edit", "EditGame", new { URL = Model.URL }) 
            @Html.ActionLink("Delete", "DeleteGame", new { URL = Model.URL })*@
        </td>
        }
    </tr>

</table>
</div>