@model IEnumerable<GamesTore.Models.GetGameDTO>

@{
    ViewBag.Title = "GetGames";
}
<br/>
<br/>
<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.css">

<!-- jQuery -->
<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>

<!-- DataTables -->
<div class="container">
<table class="table" id="myTable">
    <thead>
    <tr>
        <th>
            @Html.ActionLink("Name of Game", "GetGames")
        </th>
        <th class="cap-name">
            @Html.ActionLink("Current Genre ", "GetGames")
        </th>
        <th>
            @Html.ActionLink(" Current Tags", "GetGames")
        </th>
        <th>
            @Html.ActionLink("Release Date", "GetGames")
        </th>

        <th>
            @Html.ActionLink("Quantity", "GetGames")
        </th>

        <th>
            @Html.ActionLink("Price", "Index")
        </th>
@if (User.IsInRole("Admin"))
        {
        <th>
            @Html.ActionLink("Actions", "GetGames")
        </th>
}
    </tr>
        </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                
                    @Html.DisplayFor(modelItem => item.GameName)
                        

            </td>
            <td class="cap-name">
                @Html.ListBox("Id", new MultiSelectList(item.Genres, "URL", "Name"))
            </td>
            <td>
                @Html.ListBox("Id", new MultiSelectList(item.Tags, "URL", "Name"))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.InventoryStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            @if (User.IsInRole("Admin"))
            {
                <td>
                    <button class="btn btn-info" onclick="location.href='@Url.Action("Details", "Games", new { URL = item.URL })';return false;">Details</button>
                    <button class="btn btn-success" onclick="location.href='@Url.Action("EditGame", "Games", new { URL = item.URL })';return false;">Edit Game</button>
                    <button class="btn btn-danger" onclick="location.href='@Url.Action("DeleteGame", "Games", new { URL = item.URL })';return false;">Delete Game</button>

                    @*@Html.ActionLink("Detail", "Details", new { URL = item.URL }) |
                    @Html.ActionLink("Edit", "EditGame", new { URL = item.URL }) |
                    @Html.ActionLink("Delete", "DeleteGame", new { URL = item.URL })*@
                </td>
            }
        </tr>
    }
        </tbody>
</table>
    </div>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>