@model FrontEnd.Models.LoginView
@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<br />
<br />

<div id="login-page">
    <div class="container">

        @using (Html.BeginForm("Login","Account",FormMethod.Post,new { @class = "form-login" } ))
        {
            <h2 class="form-login-heading">GP3 - Sign In</h2>
		        <div class="login-wrap">

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-5", @style = "padding-left:0;"})
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control" } )
                    @Html.ValidationMessageFor(model => model.Email)

                    <br />

                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-5", @style = "padding-left:0;" })
                    <input type="password" value="" name="Password" id="Password" class="text-box single-line password form-control">
                    @Html.ValidationMessageFor(model => model.Password)

                    <br />

                    <button class="btn btn-theme btn-block" type="submit"><i class="fa fa-lock"></i>&nbsp; SIGN IN</button>
                </div>
        }
    </div>
</div>