@model IEnumerable<GamesTore.Models.GetTagDTO>

@{
    ViewBag.Title = "Index";
}
<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.css">

<!-- jQuery -->
<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>

<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.js"></script>
<br>
<br>
<table id="tagsTable"class="display">
    <thead>

        <tr>
            <th>
                @Html.ActionLink("Tag Name", "Index")
            </th>
            <th>@Html.ActionLink("Action", "Index")</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { URL = item.URL }) |
            @Html.ActionLink("Details", "Details", new { URL = item.URL }) |
            @Html.ActionLink("Delete", "Delete", new { URL = item.URL })
        </td>
    </tr>
}
        </tbody>

</table>
<script>
    $(document).ready(function () {
        $('#tagsTable').DataTable();
    });
</script>