@model FrontEnd.Models.DTO.GetCartDTO

@{
    ViewBag.Title = "Index";
}


<div class="container">
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.CheckoutReady)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Games)


        </th>
        <th></th>
    </tr>


    <tr>
        
        <td>
            @Html.DisplayFor(model => model.CheckoutReady)
        </td>
        <td>
            @Html.DisplayFor(model => model.User_Id)
        </td>
        <td>
            @foreach (var game in Model.Games)
            {
                @Html.ActionLink(game.Item1.GameName, "Details", "Games", new { URL = Model.URL }, new { @class = "text-danger" })<br />

                //@Html.ActionLink(modelItem => game.Item1.GameName)

            }
        </td>
        <td>
            <button class="btn btn-success" onclick="location.href='@Url.Action("Create", "Sale", new { URL = Model.URL })';return false;">Checkout Cart</button>

            @*@Html.ActionLink("CreateSale", "Create", "Sale", new { URL = Model.URL }, new { @class = "text-info" })*@
            
        </td>
    </tr>
    }

</table>
</div>