@model IEnumerable<GamesTore.Models.GetUserDTO>

@{
    ViewBag.Title = "Index";
}
<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.css">

<!-- jQuery -->
<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>

<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.js"></script>

<br /><br />
<div class="body-content">
<table id="userTable"class="table">
    <thead>
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
@Html.ActionLink("Actions", "Index")
        </th>
    </tr>
        </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
@if (User.IsInRole("Admin"))
        {
        <td>
            <button class="btn btn-success" onclick="location.href='@Url.Action("Edit", "Users", new { URL = item.URL })';return false;">Edit</button>
            <button class="btn btn-info" onclick="location.href='@Url.Action("Details", "Users", new { URL = item.URL })';return false;">Detail</button>
            <button class="btn btn-danger" onclick="location.href='@Url.Action("Delete", "Users", new { URL = item.URL })';return false;">Delete</button>

            @*@Html.ActionLink("Edit", "Edit", new { URL = item.URL },new{@class="logout"}) |
            @Html.ActionLink("Details", "Details", new { URL = item.URL }) |
            @Html.ActionLink("Delete", "Delete", new { URL = item.URL })*@
        </td>
}
    </tr>
}
        </tbody>
</table>
    </div>
<script>
        $(document).ready(function () {
            $('#userTable').DataTable();
        });
</script>