<!DOCTYPE html>
<html lang="en">
<head>
    <title>G3</title>
    <meta charset="utf-8">
        <!-- Bootstrap core CSS -->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="https://cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css"> 
</head>

<body>
    @*@if (@TempData["msg"]!=null){
    <div class="alert alert-info alertfade">
        <strong>@TempData["Title"]</strong><br />
        @TempData["msg"]
    </div>
    }*@
    <section id="container">
        <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
        <!--header start-->
        <header class="header black-bg">
            <div class="sidebar-toggle-box">
                <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation" style="color:white"> </div>
            </div>
            <!--logo start-->
            <a href="~/account/index" class="logo"><b>WEB PORTAL G3</b></a>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">              
                    
                </div>
            <div class="top-menu">
                <ul class="nav pull-right top-menu">
                    <li><a class="logout" href="~/account/login">Logout</a></li>
                </ul>
            </div>
        </header>
        <!--header end-->
        <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse ">
                <!-- sidebar menu start-->
                
                <ul class="sidebar-menu" id="nav-accordion">
                    
                        <p class="centered"><a href="profile.html"></a></p>
                        @if (User.IsInRole("Admin"))
                        {

                            <h5 class="centered"><i class="fa fa-dashboard"></i>  Admin DashBoard</h5>
                        }
                        @if (User.IsInRole("Employee"))
                        {

                            <h5 class="centered"><i class="fa fa-dashboard"></i>  Employee DashBoard</h5>

                        }
                        <li class="mt">
                            <div class="alert alert-Success alertfade">
                                <a class="active" href="~/account/index">
                                    
                                        @*<strong class="bg-primary">Notification</strong>*@
                                        
                                    
                                    <span>
                                        @if (@TempData["msg"] != null)
                                        {
                                            <div class="alert alert-info alertfade">
                                                <center>
                                                    <strong>@TempData["Title"]</strong><br />
                                                    @TempData["msg"]
                                                </center>
                                            </div>
                                        }
                                </span>
                            </a>
                        </div>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class=" fa fa-search"></i>
                            <span>Search User Cart</span>
                        </a>
                        <ul class="sub">

                            <input class="form-control" id="searchemployee" placeholder="Enter the User's ID" />
                        </ul>
                    </li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="sub-menu">
                            <a href="javascript:;">
                                <i class=" fa fa-user"></i>
                                <span>Users</span>
                            </a>
                            <ul class="sub">
                                <li><a href="~/users/index"><i class="fa fa-list"></i>List ALl Users</a></li>
                                <li><a href="~/users/create"><i class="fa fa-magic"></i>Create User</a></li>
                            </ul>
                        </li>
                    }
                    <li class="sub-menu">
                        <a href="~/games/getgames">
                            <i class="fa fa-gamepad"></i>
                            <span>Games</span>
                        </a>
                        <ul class="sub">
                            <li><a href="~/games/getgames"><i class="fa fa-list"></i>List ALl Games</a></li>
                            @if (User.IsInRole("Admin"))
                            {
                                <li><a href="~/games/createGame"><i class="fa fa-magic"></i>Create Game</a></li>
                            }
                        </ul>
                    </li>
                    @if (User.IsInRole("Admin"))
                    {

                        <li class="sub-menu">
                            <a href="~/genre/index">
                                <i class="fa fa-cogs"></i>
                                <span>Genres</span>
                            </a>
                            <ul class="sub">
                                <li><a href="~/genre/index"><i class="fa fa-list"></i>List ALl Genre</a></li>
                                
                                <li><a href="/genre/create"><i class="fa fa-magic"></i>Create New Genre</a></li>

                            </ul>
                        </li>

                        <li class="sub-menu">
                            <a href="~/tags/index">
                                <i class="fa fa-cogs"></i>
                                <span>Tags</span>
                            </a>
                            <ul class="sub">
                                <li><a href="~/tags/index"><i class="fa fa-list"></i>List All Tags</a></li>

                                <li><a href="/tags/create"><i class="fa fa-magic"></i>Create New Tags</a></li>

                            </ul>
                        </li>

                        <li class="sub-menu">
                            <a href="~/cart/index">
                                <i class="fa fa-shopping-cart"></i>
                                <span>Cart</span>
                            </a>
                            <ul class="sub">
                                <li><a href="~/cart/index"><i class="fa fa-list"></i>List All Carts</a></li>
                            </ul>
                        </li>
                    }
                    <li class="sub-menu">
                        <a href="~/sale/index">
                            <i class="fa fa-credit-card"></i>
                            <span>Sales</span>
                        </a>
                        <ul class="sub">
                           <li>
                            <a href="~/sale/index"> <i class="fa fa-list"></i>List All Sales</a></li>
                        </ul>
                    </li>

</ul>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->
        <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                @*@if (@TempData["msg"] != null)
                {
                    <div class="alert alert-success alertfade">
                        <center>
                            <strong>@TempData["Title"]</strong><br />
                            @TempData["msg"]
                        </center>
                    </div>
                }*@
                @RenderBody()

        </section>
    </section>

    <!--main content end-->
    <!--footer start-->
    <footer class="site-footer">
        <div class="text-center">
            GP3
            <a href="index" class="go-top">
                <i class="fa fa-angle-up"></i>
            </a>
        </div>
    </footer>
    <!--footer end-->
</section>


    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
   
  
    <script src="~/Scripts/Custom/jquery.dcjqaccordion.2.7.js"></script>
    <script src="~/Scripts/Custom/jquery.scrollTo.min.js"></script>
    <script src="~/Scripts/Custom/jquery.nicescroll.js"></script>
    <script src="~/Scripts/Custom/jquery.sparkline.js"></script>
    <script src="~/Scripts/Custom/common-scripts.js"></script>
    <script src="~/Scripts/Custom/gritter/js/jquery.gritter.js"></script>
    <script src="~/Scripts/Custom/gritter-conf.js"></script>
    <script src="~/Scripts/Custom/sparkline-chart.js"></script>
    <script src="~/Scripts/Custom/zabuto_calendar.js"></script>
    @*<script src="~/Scripts/Custom/dataTables.js"></script>*@
    <script src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/jquery.datetimepicker.js"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            $('#add-gritter-light').click(function () {
                $.gritter.add({
                    // (string | mandatory) the heading of the notification
                    title: 'This is a light notification',
                    // (string | mandatory) the text inside the notification
                    text: 'Just add a "gritter-light" class_name to your $.gritter.add or globally to $.gritter.options.class_name',
                    class_name: 'gritter-light'
                });

                return false;
            });


        });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#date-popover").popover({html: true, trigger: "manual"});
        $("#date-popover").hide();
        $("#date-popover").click(function (e) {
            $(this).hide();
        });

        $("#my-calendar").zabuto_calendar({
            action: function () {
                return myDateFunction(this.id, false);
            },
            action_nav: function () {
                return myNavFunction(this.id);
            },
            ajax: {
                url: "show_data.php?action=1",
                modal: true
            },
            legend: [
                {type: "text", label: "Special event", badge: "00"},
                {type: "block", label: "Regular event", }
            ]
        });

        $('#searchemployee').change(function () {
            var id = $('#searchemployee').val();

            if (id > 0) {
                //var url =  + id;
                window.location.replace("/Cart/SearchByUserId/"+id);
            }
        });

        $('.alertfade').fadeIn('fast').delay(3000).fadeOut();

    });

                                
    function myNavFunction(id) {
        $("#date-popover").hide();
        var nav = $("#" + id).data("navigation");
        var to = $("#" + id).data("to");
        console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
    }
   
</script>


</body>
</html>